[data]
    email = "{{ promptStringOnce . "email" "Email address" }}"
    machine_type = "{{ promptStringOnce . "machine_type" "Machine type (personal/work/server)" }}"
    is_macos = {{ eq .chezmoi.os "darwin" }}
    is_linux = {{ eq .chezmoi.os "linux" }}
